main>.container {
    padding: 60px 15px 0;
}

.b-color {
    background-color: #ff8800;
}

.t-color {
    color: #ff8800
}
.mb-color {
    background-color: rgb(218, 218, 218);
}
a {
    color: #525252
}

a:hover {
    color: rgb(102, 102, 102);
}
.bgmain {
    background: linear-gradient(90deg, rgba(157, 157, 157, 1) 0%, rgba(244, 244, 244, 1) 100%);
}